*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Raleway', sans-serif;
}

/****************************************************************/

/*HEADER*/

header{
    width: 100%;
    background-color: white;
    display: flex;
    height: 6em;
    justify-content: end;
    align-items: center;
    position: fixed;
    box-shadow: 0.13em 0.57em 1em -0.3em #00ff991e;
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 3em;
    align-items: baseline;

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 0.5em
}

.contactoa{
    color: white;
    border-radius: 3em;
    background-color: #2CA272;
    padding: 0.6em 1.6em;
}


nav a:hover{
    color: #3bc08b;
}

nav a:active{
    /*border: 0.05em #2CA272 solid;*/
    padding: 0.3em 0.28em;
    border-radius: 2em;
    box-shadow: 0.13em 0.05em 0.5em 0.3em #00ff991e;
}

nav .contactoa:active{
    box-shadow: 0.13em 0.07em 0.5em 0.3em #00ff991e;
    padding: 0.58em 1.58em;
    border: none;
    background-color: #2CA272;
}

.contactoa:hover{
    background-color: #3bc08b;
    border-radius: 3em;
    padding: 0.6em 1.6em;
    color: white;
}

/***************************************************************/

/*SECTION CLASS PRESENTACION*/

.presentacion{
    /*border: black 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divs{
    /*border: black 1px solid;*/
    margin: 9.38em 3em;
    width: 37%;
    /*height: fit-content;*/
    flex-basis: 1;
    flex-shrink: 1;
}

.div1{
    display: flex;
    flex-direction: column;
}

.inicio{
    font-size: 2em;
    color: rgb(10, 10, 10);
    font-weight: 600;
    margin: 0.19em 0 0.6em 0;
}
.info{
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 1.86em;
}
.div1 h1{
    color: #2CA272;
    font-size: 3.8em;
    font-weight: 900;
}
.button{
    text-align: center;
    text-decoration: none;
    background-color: #2CA272;
    padding: 1em;
    border-radius: 3em;
    width: 200px;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 2.19em 0;
}
.button:hover{
    background-color: #3bc08b;
    cursor: pointer;
}

.button:active{
    box-shadow: 0.13em 0.05em 0.5em 0.3em #00ff991e;
}

.div2 img{
    width: 100%;
} 

/***************************************************************/

/*SECTION CLASS CONOCIMIENTOS*/

.conocimientos{
    background-color: #00ff990e;;
}
.cajasiguales{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sameboxes{
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: center;
}

.sameboxes h2{
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 0.8em;
}

.sameboxes p{
    font-weight: 400;
    padding-bottom: 1.5em;
    letter-spacing: 0.08em;
    line-height: 1.3em;
}

.intro1 h2{
    padding-top: 3em;
}
.cajaprogramas{
    display: flex;
    /*border: 1px solid #70be9f;*/
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 6em;
}

.programas{
    border: 0.06em solid  #70be9f;
    margin: 0.94em;
    padding: 3.12em 2.5em;
    text-align: center;
    width: 20%;
    background-color: white;
    border-radius: 0.31em;
}

.programas figcaption{
    font-weight: 700;
    font-size: 1.2em;
    padding: 1.25em 0 0 0;
}

.programas img{
    width: 40%;
}

.programas:hover , .programas figcaption:hover{
    color: #2CA272;
    border: 0.06em #2CA272 solid;
    border-radius: 0.31em;
    cursor: default;

}

.programas figcaption:hover{
    border: none;
}

/***************************************************************/

/*SECTION CLASS CITA*/

.cita{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2CA272;
}

.flex-cita{
    /*border: black 2px solid;*/
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 5em 25em;
}

.cita .comilla{
    font-size: 5em;
}

.cita h2{
    font-weight: 900;
}

blockquote{
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    padding-top: 4em;
    padding-bottom: 4em;
}

/***************************************************************/

/*SECTION CLASS PROYECTOS*/

.cajaproyectos{
    background-color: white;
}

.intro2 h2{
    padding-top: 2em;
}
.proyectohijxs{
    display: flex;
    justify-content:flex-start;
    width: 85%;
    flex-wrap: wrap;
    align-content: center;
    margin: 1.25em auto 3.13em auto;
    padding-bottom: 6.25em;
}

.hijx{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 30%;
    margin: 0.94em;
    border-radius: 0.31em;
    border: 0.063em solid  #70be9f;
    flex-shrink: 1;
    flex-basis: 1
}

.hijx img{
    width: 75%;
    /*margin: 20px;*/
    /*object-fit: cover;*/
}

.hijx figcaption{
    margin: 0.63em 0 2.19em;
    font-size: 1em;
    font-weight: 600;
}

.hijx:hover , .hijx a:hover{
    color: #2CA272;
    border: 0.07em #2CA272 solid;
    border-radius: 0.31em;
}

.hijx a:hover{
    border: none;
}

/***************************************************************/

/*SECTION CLASS CONTACTO*/

.contacto{
    display: flex;
    justify-content: center;
    background-color: #00ff990e;
}
.bigbox{

    border-radius: 0.313em;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content:space-around;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-top: 10em;
    margin-bottom: 10em;
    border: 0.01em solid  #85b8a4;
}

.box{
    width: 40%;
}

/*propiedades box contactame*/

.contactame{
    display: flex;
    flex-direction: column;
}

.textocontacto{
    padding: 1.5em 0;
    font-size: 1.1em;
}

.contacto h2{
    font-weight: 900;
    font-size: 3em;
}

.redes{
    display: flex;
}

.redes a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    word-spacing: 1em;
    margin: 0.4em;
}

.fontawesome{
    color: #2CA272;
    font-size: 1.1em;
    word-spacing: 1.1em;
    padding: 0.6em;
}

.redes:hover .fontawesome{
    border-radius: 5em;
    color: white;
    background-color: #2CA272;
    padding: 0.6em;
}

.redes:hover a{
    color: #2CA272;
}

/*propiedades box escribime*/

.escribime{
    font-size: 1em;
    padding-bottom: 0.5em;
}

.escribime form h2{
    padding-bottom: 0.2em;
}
       
.fields{
    width: 100%;
}
.fields label{
    font-size: 1em;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.fields input{
    margin-bottom: 0.5em;
    font-size: 1em;
}

.fieldmommy{
    display: flex;
    width: 100%;
}

.field1{
    width: 50%;
}

.field1 input{
   width: 95%; 
}

.field2 input, .mensaje{
    width: 100%;
}

.escribime input, .mensaje{
    box-sizing: border-box;
    padding: 0.8em;
    background-color: #00ff9918;
    border-radius: 2em;
    border: none;
}

.escribime .mensaje{
    resize:both;
    margin-bottom: 1em;
    height: 13em;
    border-radius: 1em;
}

.escribime 

form .botonsend{
    padding: 1.1em 2.4em;
    border-radius: 2em;
    background-color: #2CA272;
    color: white;
    font-size: 1em;
    font-weight: 600;

}

/***********************************************************/

/*FOOTER*/

footer{
    background-color: #2CA272;
    padding: 5em;
    display: flex;
    justify-content: center;
}

.footermadre{
    text-align: center;
}

.redireccion{
    word-spacing: 1.5em;
    padding-bottom: 2.2em;
}

.redireccion a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.cajaredes{
    padding-bottom: 2.2em;
    display: flex;
    justify-content: center;
}

.redes2{
    margin: 0 1em; 
}

.fontdif{
    border-radius: 5em;
    background-color: white;
    padding: 0.8em;
    color: #2CA272;
}

.fontdif:hover{
    color: white;
    background-color: #2CA272;
    border-radius: 5em;
    padding: 0.75em;
    border: 0.05em white solid;
}

.footermadre p{
    color: white;
    font-size: 1.2em;
}

.amor{
    color:rgb(231, 81, 81);
    font-size: 1.2em;
}